In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_lbsm = pd.read_csv(r"..\1_Data\LBSMv2_London\LBSMv2_London.csv")

In [4]:
df_lbsm.columns

Index(['uprn', 'os_topo_toid', 'easting', 'northing', 'postcode_locator',
       'administrative_area', 'oa21cd', 'lsoa21cd', 'lsoa21nm', 'lsoa11cd',
       'lsoa11nm', 'ward22cd', 'ward22nm', 'property_type', 'built_form',
       'property_type_built_form', 'tenure', 'tenure_known', 'building_use',
       'construction_age_band', 'construction_age_band_known', 'epc_score',
       'epc_score_known', 'epc_rating', 'epc_rating_known',
       'potential_epc_score', 'potential_epc_score_known',
       'potential_epc_rating', 'potential_epc_rating_known',
       'number_habitable_rooms', 'number_habitable_rooms_known',
       'total_floor_area', 'total_floor_area_known', 'estimated_floor_count',
       'basement_floor', 'wall_type', 'wall_type_known', 'wall_insulation',
       'wall_insulation_known', 'roof_type', 'roof_type_known',
       'roof_insulation', 'roof_insulation_known', 'glazing_type',
       'glazing_type_known', 'main_heat_type', 'main_heat_type_known',
       'main_fuel_type', 'main_fuel_type_known', 'energy_consumption',
       'energy_consumption_known', 'solar_pv_area', 'solar_pv_potential_11.9',
       'avg_tilt', 'imd19_national_decile', 'imd19_income_decile',
       'loac_supergroup', 'loac_group', 'fuel_poverty', 'heat_risk_quintile',
       'listed_building_grade', 'conservation_area_flag',
       'conservation_area_site_id'],
      dtype='object')

In [9]:
df_lbsm

,uprn,os_topo_toid,easting,northing,postcode_locator,administrative_area,oa21cd,lsoa21cd,lsoa21nm,lsoa11cd,...,avg_tilt,imd19_national_decile,imd19_income_decile,loac_supergroup,loac_group,fuel_poverty,heat_risk_quintile,listed_building_grade,conservation_area_flag,conservation_area_site_id
0,200000074106,1000005891718,532271.0,181868.0,EC2Y 8DR,City of London,E00000001,E01000001,City of London 001A,E01000001,...,20.0,9,10,A - Professional Employment and Family Lifecycles,A3 - European Enclaves,5.0,1,Unknown,in conservation area,SCM00000166
1,200000074155,1000005891718,532271.0,181868.0,EC2Y 8DR,City of London,E00000001,E01000001,City of London 001A,E01000001,...,20.0,9,10,A - Professional Employment and Family Lifecycles,A3 - European Enclaves,5.0,1,Unknown,in conservation area,SCM00000166
2,200000074151,1000005891718,532271.0,181868.0,EC2Y 8DR,City of London,E00000001,E01000001,City of London 001A,E01000001,...,20.0,9,10,A - Professional Employment and Family Lifecycles,A3 - European Enclaves,5.0,1,Unknown,in conservation area,SCM00000166
3,200000074090,1000005891718,532271.0,181868.0,EC2Y 8DR,City of London,E00000001,E01000001,City of London 001A,E01000001,...,20.0,9,10,A - Professional Employment and Family Lifecycles,A3 - European Enclaves,5.0,1,Unknown,in conservation area,SCM00000166
4,200000074150,1000005891718,532271.0,181868.0,EC2Y 8DR,City of London,E00000001,E01000001,City of London 001A,E01000001,...,20.0,9,10,A - Professional Employment and Family Lifecycles,A3 - European Enclaves,5.0,1,Unknown,in conservation area,SCM00000166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3887529,5045899,1000005433073,529706.0,183397.0,NW1 1UG,Camden,E00190469,E01035709,Camden 022G,E01000953,...,19.0,2,2,E - Social Rented Sector Families with Children,E1 - Challenged Inner London Communities,11.8,5,Unknown,in conservation area,SCM00000149
3887530,5035451,1000005433071,529719.0,183377.0,NW1 1UG,Camden,E00190469,E01035709,Camden 022G,E01000953,...,20.0,2,2,E - Social Rented Sector Families with Children,E1 - Challenged Inner London Communities,11.8,5,Unknown,in conservation area,SCM00000149
3887531,5024248,1000005433074,529781.0,183353.0,NW1 1UH,Camden,E00190469,E01035709,Camden 022G,E01000953,...,16.0,2,2,E - Social Rented Sector Families with Children,E1 - Challenged Inner London Communities,11.8,5,Unknown,in conservation area,SCM00000149
3887532,5045886,1000005433073,529706.0,183397.0,NW1 1UG,Camden,E00190469,E01035709,Camden 022G,E01000953,...,19.0,2,2,E - Social Rented Sector Families with Children,E1 - Challenged Inner London Communities,11.8,5,Unknown,in conservation area,SCM00000149
3887533,5045880,1000005433073,529706.0,183397.0,NW1 1UG,Camden,E00190469,E01035709,Camden 022G,E01000953,...,19.0,2,2,E - Social Rented Sector Families with Children,E1 - Challenged Inner London Communities,11.8,5,Unknown,in conservation area,SCM00000149

In [10]:
df_building_subset = df_lbsm[['postcode_locator', 'construction_age_band', 'conservation_area_flag']].copy()

# 2. Drop duplicates based on the postcode
# This ensures each postcode has only one entry (the first one found)
df_building_subset = df_building_subset.drop_duplicates(subset=['postcode_locator'])

# 3. Rename the column to match your price dataset for an easy merge
df_building_subset = df_building_subset.rename(columns={'postcode_locator': 'postcode'})

In [11]:
df_building_subset

         postcode construction_age_band conservation_area_flag
0        EC2Y 8DR             1967-1982   in conservation area
7        EC2Y 8NJ             1967-1982   in conservation area
116      EC2Y 8NA             1967-1982   in conservation area
117      EC2Y 8BY             1967-1982   in conservation area
138      EC2Y 8DP             1930-1949   in conservation area
...           ...                   ...                    ...
3887302   W14 8PH              pre-1900   in conservation area
3887359    W8 6NP             1900-1929   in conservation area
3887429   NW1 1UG             1930-1949   in conservation area
3887433   NW1 1UH             1930-1949   in conservation area
3887527   N1C 4PL              pre-1900   in conservation area

[151627 rows x 3 columns]

In [12]:
df_building_subset.to_csv('../1_data/df_lbsm_cleaned.csv', index=False)