In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from scipy.stats import pearsonr

In [2]:
df_analysis = pd.read_csv(r"..\1_Data\df_analysis.csv")
df_ML = df_analysis.copy()

In [3]:
df_ML

,fullAddress,postcode,country,outcode,latitude,longitude,bathrooms,bedrooms,floorAreaSqM,livingRooms,...,propertyType_End Terrace House,propertyType_Flat/Maisonette,propertyType_Mid Terrace House,propertyType_Purpose Built Flat,propertyType_Semi-Detached House,propertyType_Terrace Property,propertyType_Terraced,soldT_T2,soldT_T3,soldT_T4
0,"30 Britton Close, London, SE6 1AP",SE6 1AP,England,SE6,51.445308,-0.008436,1,1,50.0,1,...,False,False,False,True,False,False,False,False,False,False
1,"3 Ashley Lane, London, NW4 1HD",NW4 1HD,England,NW4,51.593783,-0.219289,2,2,95.0,1,...,False,False,False,True,False,False,False,False,False,False
2,"Flat H, 151 Gray's Inn Road, London, WC1X 8UB",WC1X 8UB,England,WC1X,51.524786,-0.116678,1,1,34.0,0,...,False,True,False,False,False,False,False,False,False,False
3,"Flat 22, 67 Elm Park Gardens, London, SW10 9QE",SW10 9QE,England,SW10,51.487411,-0.175778,1,1,62.0,1,...,False,False,False,True,False,False,False,False,False,False
4,"Flat 17, 102 West Ham Lane, London, E15 4FP",E15 4FP,England,E15,51.536422,0.006397,1,1,54.0,1,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37578,"26 Risborough Close, Muswell Hill, London, N10...",N10 3PL,England,N10,51.590104,-0.140137,1,2,61.0,1,...,False,True,False,False,False,False,False,False,True,False
37579,"9 Harvard Road, London, SE13 6SE",SE13 6SE,England,SE13,51.452919,-0.010221,2,3,123.0,2,...,True,False,False,False,False,False,False,False,True,False
37580,"Lower Ground Floor Flat 5, Northwood Hall, Hor...",N6 5PE,England,N6,51.571692,-0.137007,1,2,60.0,1,...,False,False,False,True,False,False,False,False,True,False
37581,"15 Chester Row, London, SW1W 9JF",SW1W 9JF,England,SW1W,51.493587,-0.152122,3,4,218.0,2,...,False,False,False,False,False,True,False,False,True,False
37582,"56 Whiteley Road, London, SE19 1JT",SE19 1JT,England,SE19,51.424412,-0.090256,1,5,154.0,2,...,False,False,True,False,False,False,False,False,True,False

In [4]:
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import r2_score, mean_absolute_error

# # 1. Select only the physical and neighborhood-value columns
# base_features = [
#     'bathrooms', 
#     'bedrooms', 
#     'floorAreaSqM', 
#     'livingRooms', 
#     'energy_encoded', 
#     'neighborhood_value'
# ]

# # 2. Add the Property Type dummy columns automatically
# property_type_features = [col for col in df_ML.columns if 'propertyType_' in col]

# # 3. Combine them
# final_features = base_features + property_type_features

# X = df_ML[final_features].astype(float) # Convert bools to 1.0/0.0 for the model
# y = df_ML['soldPrice']

# print(f"Model will train on {len(final_features)} features.")

In [5]:
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import r2_score, mean_absolute_error

# # Split the data
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Initialize and fit
# rf = RandomForestRegressor(n_estimators=100, max_depth=20, random_state=42, n_jobs=-1)
# rf.fit(X_train, y_train)

# # Predict
# y_pred = rf.predict(X_test)

# # Evaluation
# print(f"R2 Score: {r2_score(y_test, y_pred):.4f}")
# print(f"Mean Error: £{mean_absolute_error(y_test, y_pred):,.2f}")

In [6]:
# import numpy as np
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import r2_score, mean_absolute_error, mean_absolute_percentage_error

# # 1. Split the data (X and y stay as they are)
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # 2. Transform the training target to Log scale
# y_train_log = np.log1p(y_train)

# # 3. Initialize and fit using the LOG target
# rf = RandomForestRegressor(n_estimators=100, max_depth=20, random_state=42, n_jobs=-1)
# rf.fit(X_train, y_train_log)

# # 4. Predict (output will be in Log scale)
# y_pred_log = rf.predict(X_test)

# # 5. Convert predictions back to original Pounds scale
# y_pred = np.expm1(y_pred_log)

# # 6. Evaluation
# # Note: R2 is still calculated on original y_test vs back-transformed y_pred
# print(f"R2 Score: {r2_score(y_test, y_pred):.4f}")
# print(f"Mean Error (MAE): £{mean_absolute_error(y_test, y_pred):,.2f}")
# print(f"Mean Percentage Error (MAPE): {mean_absolute_percentage_error(y_test, y_pred):.2%}")

In [7]:
# importances = pd.DataFrame({
#     'Feature': X.columns,
#     'Importance': rf.feature_importances_
# }).sort_values(by='Importance', ascending=False)

# plt.figure(figsize=(10, 6))
# sns.barplot(x='Importance', y='Feature', data=importances, palette='viridis', hue='Feature', legend=False)
# plt.title("Random Forest: Feature Importance", fontsize=14, fontweight='bold')
# plt.xlabel("Importance (Relative Contribution to Price)")
# plt.show()

In [8]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_absolute_percentage_error

# 1. Create the Luxury Flag (Safely, using Neighborhood Value)
# We use 15k/sqm as your threshold for a 'Luxury Neighborhood'
df_ML['is_luxury_area'] = (df_ML['neighborhood_value'] > 15000).astype(int)

# 2. Define Features (Ensure is_luxury_area is included)
base_features = [
    'bathrooms', 'bedrooms', 'floorAreaSqM', 'livingRooms', 
    'energy_encoded', 'neighborhood_value', 'is_luxury_area'
]
property_type_features = [col for col in df_ML.columns if 'propertyType_' in col]
final_features = base_features + property_type_features

X = df_ML[final_features].astype(float)
y = df_ML['soldPrice']

# 3. Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 4. Log Transform and Train
y_train_log = np.log1p(y_train)
rf = RandomForestRegressor(n_estimators=100, max_depth=20, random_state=42, n_jobs=-1)
rf.fit(X_train, y_train_log)

# 5. Predict and Un-log
y_pred_log = rf.predict(X_test)
y_pred = np.expm1(y_pred_log)

# 6. Final Results
print(f"--- Final Model Results ---")
print(f"R2 Score: {r2_score(y_test, y_pred):.4f}")
print(f"Mean Error (MAE): £{mean_absolute_error(y_test, y_pred):,.2f}")
print(f"Mean Percentage Error (MAPE): {mean_absolute_percentage_error(y_test, y_pred):.2%}")

--- Final Model Results ---
R2 Score: 0.7718
Mean Error (MAE): £183,983.65
Mean Percentage Error (MAPE): 28.06%